@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
	padding: 0;
	margin: 0;
}

:root {
	font-size: 1rem;
	font-family: 'Open Sans';

	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--transition-speed: 600ms;

	--b-bg-primary: #3e3e51;

	--bg-image-brightness: 50%;

	--background-image: url(/img/background/studying-dark.jpeg);
}

/* have to make a false body */
false_body {
	transition: var(--transition-speed) ease-in;

	position: fixed;
	height: 100vh;
	width: 100vw;
	/* top: -50%;
	left: -50%; */
	
	z-index: -10;

	/* background-color: var(--b-bg-primary); */
	background-image: var(--background-image);
	
	filter: blur(0.0rem) brightness(var(--bg-image-brightness));

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	overflow: hidden;
}

article {
	color: var(--text-secondary);
	
	overflow-y: hidden;
}

article::-webkit-scrollbar {
	display: none;
}

article:last-child {
	margin-top: auto;
}

.inner_root {
	margin-top: 5rem;
	min-height: 100vh;
}

.dark {
	--text-primary: #3f3c3c;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;

	--b-bg-primary: #3e3e51;

	--bg-image-brightness: 50%;

	--background-image: url(/img/background/studying-dark.jpeg);
}

.light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;

	--b-bg-primary: #ffffff;

	--bg-image-brightness: 90%;

	--background-image: url(/img/background/studying-day.webp);
}

.solar {
	--text-primary: #576e75;
	--text-secondary: #35535c;
	--bg-primary: #fdf6e3;
	--bg-secondary: #f8e1a0;

	--b-bg-primary: #f1e080;

	--bg-image-brightness: 60%;

	--background-image: url(/img/background/studying-sunny.webp);
}

body {
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0.50rem;
	height: 0.15rem;
}

body::-webkit-scrollbar-track {
	background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
	background: var(--b-bg-primary);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	article {
		margin: 0;
	}
}