.navbar {
	transition: width 600ms ease;
	overflow: hidden;

	width: 100%;
	height: 10rem;

	filter: opacity(0.7);
	transition: var(--transition-speed);
}

.navbar:hover {
    transition: all var(--transition-speed) ease-in-out;
	filter: opacity(1);
}

.navbar_nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;

	flex-wrap: wrap;
	justify-content: space-around;
}

.nav_link {
	display: flex;
	align-items: center;
	height: 5rem;

	padding: 1rem;

	color: var(--text-secondary);
	text-decoration: none;
	filter: opacity(0.7);
	transition: var(--transition-speed);

	background: var(--bg-secondary);

	border-radius: 1rem;
}

.nav_link:hover {
	filter: opacity(1);
}

.nav_link svg {
	width: 2rem;
	min-width: 2rem;
	margin-right: 1.5rem;
}

.link_text {
	display: block;
	/* margin-left: 1rem; */
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbar_item {
		width: 100%;
	}

	.nav_link {
		justify-content: center;
	}
}