
.invitation_container {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    padding-top: 1rem;
    padding: 2rem;
    height: 80vh;
    width: 80vw;
    
    background-color: var(--bg-secondary);

    filter: grayscale(100%) opacity(0.5);
	transition: var(--transition-speed);

    border-radius: 1rem;
}

.invitation_container h1 {
    font-family: 'Cedarville Cursive';
    font-size: 2.5rem;
}

.invitation_container svg {
    max-width: 100%;
    max-height: 100%;
    
    /* min-height: 10rem;
    min-width: 10rem; */

    filter: grayscale(0%) opacity(1);
}

.map_redirect_button {
    filter: grayscale(100%) opacity(0.5);
	transition: var(--transition-speed);

    margin-top: 1rem;
    border-radius: 1rem;
}

.map_redirect_button:hover {
    filter: grayscale(0) opacity(1);
    background-color: var(--bg-primary);
}

@media only screen and (max-width: 600px) {
	.invitation_container h1 {
        font-size: 1.5rem;
    }
}