.navbar {
	position: fixed;
	z-index: 5;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	overflow: hidden;

	bottom: 1;
	width: 100%;
	height: 5rem;

	filter: opacity(0.7);
	transition: var(--transition-speed);
}

.navbar:hover {
    transition: all var(--transition-speed) ease;
	filter: opacity(0.9);
}

.navbar_nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;

	justify-content: flex-end;
}

.nav_item:last-child {
	margin-left: auto;
}

.nav_link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-secondary);
	text-decoration: none;
	filter: opacity(0.7);
	transition: var(--transition-speed);
}

.nav_link:hover {
	filter: opacity(1);
	background: var(--bg-secondary);
}

.nav_link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.link_text {
	display: none;
	margin-left: 1rem;
}

.fa_primary {
	color: #ff7eee;
}

.fa_secondary {
	color: #df49a6;
}

.fa_primary,
.fa_secondary {
	transition: var(--transition-speed);
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: var(--text-secondary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
}

.logo svg {
	transform: rotate(0deg);
	transition: var(--transition-speed);
}

.logo_text {
	display: inline;
	transition: var(--transition-speed);
}

.navbar:hover .logo svg {
	transform: rotate(-180deg);
}

.theme_icon {
	visibility: hidden;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbar_item {
		width: 100%;
	}

	.logo {
		display: none;
	}

	.nav_link {
		justify-content: center;
	}
}