.post_container {
    width: 100vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
	color: black;
}

.post_meta_data {
    display: flex;
    flex-direction: column;

    justify-content: center;

    text-align: center;

    align-items: center;

    background-color: var(--bg-tertiary);
    padding: 1rem;
    filter: opacity(0.8);
    border-radius: 1rem;

    width: 80%;
}

.post_meta_data h1 {
    font-size: 3rem;
}

.post_meta_data h2 {
    font-size: 2rem;
}

/* markdown html apply here */
.post_content {
    width: 80%;
    margin: 3rem;
    font-size: 1.5rem !important;

    align-content: center;
    text-align: center;

    transition: var(--transition-speed) ease;

    background-color: var(--bg-tertiary);
    padding: 3rem;
    filter: opacity(0.8);
    border-radius: 1rem;
}

.post_content table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

.post_content table th {
    border: 1px solid;
}

.post_content table td {
    border: 1px solid;
    padding: 1rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .post_content {
        width: 95%;
    }

    .post_meta_data {
        width: 95%;
    }
}